Repository naoji3x/firebase-cloudflare-next-capacitor: changes, and which lefthook commands are due for each by the changed paths.
All: format-frontend, format-functions, lint-functions

format-frontend:
  run: npx prettier {staged_files} --write

format-functions:
  run: npx prettier {staged_files} --write

lint-functions:
  run: npx eslint {staged_files} --fix

refactor: remove lint-staged
  package.json
Due: none

feat: add storybook again
  .devcontainer/devcontainer.json
  .vscode/settings.json
  apps/frontend/.storybook/preview.ts
  apps/frontend/package.json
  apps/frontend/src/app/_components/social-sign-in.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/time-picker.stories.tsx
  apps/frontend/src/components/time-picker.tsx
  apps/frontend/src/components/ui/select.tsx
  apps/frontend/src/features/auth/components/sign-in-button.stories.tsx
  apps/frontend/src/features/auth/components/sign-in-button.tsx
  apps/frontend/src/features/auth/components/sign-out-button.stories.tsx
  apps/frontend/src/features/auth/components/sign-out-button.tsx
  apps/frontend/src/features/auth/providers/session-provider.tsx
  apps/frontend/src/stories/Button.stories.ts
  apps/frontend/src/stories/Button.tsx
  apps/frontend/src/stories/Configure.mdx
  apps/frontend/src/stories/Header.stories.ts
  apps/frontend/src/stories/Header.tsx
  apps/frontend/src/stories/Page.stories.ts
  package-lock.json
Due: format-frontend

refactor: format codes
  apps/frontend/src/components/ui/select.tsx
  apps/frontend/src/stories/Button.stories.ts
  apps/frontend/src/stories/Button.tsx
  apps/frontend/src/stories/Configure.mdx
  apps/frontend/src/stories/Header.stories.ts
  apps/frontend/src/stories/Header.tsx
  apps/frontend/src/stories/Page.stories.ts
Due: format-frontend

feat: remove storybook
  apps/frontend/.storybook/main.ts
  apps/frontend/.storybook/preview.ts
  apps/frontend/package.json
  apps/frontend/src/stories/Button.stories.ts
  apps/frontend/src/stories/Button.tsx
  apps/frontend/src/stories/Configure.mdx
  apps/frontend/src/stories/Header.stories.ts
  apps/frontend/src/stories/Header.tsx
  apps/frontend/src/stories/Page.stories.ts
  apps/frontend/src/stories/Page.tsx
  apps/frontend/src/stories/assets/accessibility.png
  apps/frontend/src/stories/assets/accessibility.svg
  apps/frontend/src/stories/assets/addon-library.png
  apps/frontend/src/stories/assets/assets.png
  apps/frontend/src/stories/assets/avif-test-image.avif
  apps/frontend/src/stories/assets/context.png
  apps/frontend/src/stories/assets/discord.svg
  apps/frontend/src/stories/assets/docs.png
  apps/frontend/src/stories/assets/figma-plugin.png
  apps/frontend/src/stories/assets/github.svg
  apps/frontend/src/stories/assets/share.png
  apps/frontend/src/stories/assets/styling.png
  apps/frontend/src/stories/assets/testing.png
  apps/frontend/src/stories/assets/theming.png
  apps/frontend/src/stories/assets/tutorials.svg
  apps/frontend/src/stories/assets/youtube.svg
  apps/frontend/src/stories/button.css
  apps/frontend/src/stories/header.css
  apps/frontend/src/stories/page.css
  package-lock.json
Due: format-frontend

feat: add storybook and fix postcss.config
  .vscode/settings.json
  apps/frontend/.eslintrc.json
  apps/frontend/.storybook/main.ts
  apps/frontend/.storybook/preview.ts
  apps/frontend/package.json
  apps/frontend/postcss.config.js
  apps/frontend/postcss.config.mjs
  apps/frontend/src/stories/Button.stories.ts
  apps/frontend/src/stories/Button.tsx
  apps/frontend/src/stories/Configure.mdx
  apps/frontend/src/stories/Header.stories.ts
  apps/frontend/src/stories/Header.tsx
  apps/frontend/src/stories/Page.stories.ts
  apps/frontend/src/stories/Page.tsx
  apps/frontend/src/stories/assets/accessibility.png
  apps/frontend/src/stories/assets/accessibility.svg
  apps/frontend/src/stories/assets/addon-library.png
  apps/frontend/src/stories/assets/assets.png
  apps/frontend/src/stories/assets/avif-test-image.avif
  apps/frontend/src/stories/assets/context.png
  apps/frontend/src/stories/assets/discord.svg
  apps/frontend/src/stories/assets/docs.png
  apps/frontend/src/stories/assets/figma-plugin.png
  apps/frontend/src/stories/assets/github.svg
  apps/frontend/src/stories/assets/share.png
  apps/frontend/src/stories/assets/styling.png
  apps/frontend/src/stories/assets/testing.png
  apps/frontend/src/stories/assets/theming.png
  apps/frontend/src/stories/assets/tutorials.svg
  apps/frontend/src/stories/assets/youtube.svg
  apps/frontend/src/stories/button.css
  apps/frontend/src/stories/header.css
  apps/frontend/src/stories/page.css
  package-lock.json
Due: format-frontend

build: npm 10.5 -> 10.7
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

feat: add sign in/out with google
  apps/frontend/src/app/_components/social-sign-in.tsx
  apps/frontend/src/app/home/layout.tsx
  apps/frontend/src/app/home/page.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/elements/google-sign-in-button.stories.tsx
  apps/frontend/src/components/elements/google-sign-in-button.tsx
  apps/frontend/src/components/elements/time-picker.stories.tsx
  apps/frontend/src/components/elements/time-picker.tsx
  apps/frontend/src/features/auth/components/sign-in-button.tsx
  apps/frontend/src/features/auth/components/sign-out-button.stories.tsx
  apps/frontend/src/features/auth/components/sign-out-button.tsx
  apps/frontend/src/features/auth/lib/google-auth.ts
  apps/frontend/src/features/auth/providers/auth-provider.tsx
Due: format-frontend

feat: add firestore
  .devcontainer/devcontainer.json
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  .vscode/settings.json
  apps/firebase/firestore.rules
  apps/firebase/functions/src/index.ts
  apps/firebase/package.json
  apps/frontend/package.json
  apps/frontend/src/app/_components/users.tsx
  apps/frontend/src/app/home/page.tsx
  apps/frontend/src/components/ui/input.tsx
  apps/frontend/src/firebase/client.ts
  apps/frontend/src/hooks/todos.ts
  lefthook.yml
Due: format-frontend, format-functions, lint-functions

refactor: monorepo package settings
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  apps/firebase/functions/.eslintrc.json
  apps/firebase/functions/.gitignore
  apps/firebase/functions/package-lock.json
  apps/firebase/functions/package.json
  apps/firebase/functions/src/env.mjs
  apps/firebase/functions/src/index.ts
  apps/firebase/functions/tsconfig.json
  apps/frontend/package.json
  lefthook.yml
  package-lock.json
  package.json
Due: format-frontend, format-functions, lint-functions

fix: critical severity vulnerabilities
  apps/firebase/functions/package.json
  package-lock.json
Due: none

feat: add server auth sample
  apps/firebase/functions/package.json
  apps/firebase/functions/src/index.ts
  apps/firebase/functions/src/types/auth.ts
  apps/firebase/functions/src/types/index.ts
  apps/firebase/functions/src/types/todo.ts
  apps/frontend/src/app/home/page.tsx
  package-lock.json
  package.json
Due: format-frontend, format-functions, lint-functions

feat: add server auth output
  apps/firebase/functions/src/index.ts
  apps/frontend/src/app/home/page.tsx
Due: format-frontend, format-functions, lint-functions

fix: firestore emulator port setting
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  apps/firebase/.gitignore
  apps/firebase/firebase.json
  apps/firebase/functions/src/index.ts
  apps/firebase/functions/src/types/auth.ts
  apps/firebase/functions/src/types/index.ts
  apps/firebase/functions/src/types/todo.ts
  apps/firebase/package.json
  apps/frontend/src/app/home/page.tsx
  apps/frontend/src/firebase/client.ts
  package.json
Due: format-frontend, format-functions, lint-functions

feat: add TodoCard
  apps/firebase/functions/src/index.ts
  apps/firebase/functions/src/types/todo.ts
  apps/frontend/.storybook/main.ts
  apps/frontend/package.json
  apps/frontend/src/app/_components/auth-check.tsx
  apps/frontend/src/app/home/page.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/elements/google-sign-in-button.tsx
  apps/frontend/src/components/elements/todo-card.stories.tsx
  apps/frontend/src/components/elements/todo-card.tsx
  apps/frontend/src/components/ui/label.tsx
  package-lock.json
  package.json
Due: format-frontend, format-functions, lint-functions

fix: timestamp handling and onDocumentCreated
  .devcontainer/devcontainer.json
  apps/firebase/functions/package.json
  apps/firebase/functions/src/index.ts
  apps/firebase/functions/src/types/todo.ts
  apps/frontend/.storybook/main.ts
  apps/frontend/package.json
  apps/frontend/src/app/home/page.tsx
  apps/frontend/src/firebase/client.ts
  package-lock.json
Due: format-frontend, format-functions, lint-functions

refactor: onDocumentUpdated
  apps/firebase/functions/src/index.ts
Due: format-functions, lint-functions

feat: add firebase storage
  apps/firebase/firebase.json
  apps/firebase/functions/src/types/todo.ts
  apps/firebase/functions/src/types/utils.ts
  apps/firebase/storage.rules
  apps/frontend/src/app/home/page.tsx
  apps/frontend/src/components/elements/todo-card.stories.tsx
  apps/frontend/src/components/elements/todo-card.tsx
  apps/frontend/src/firebase/client.ts
  apps/frontend/src/hooks/todos.ts
Due: format-frontend, format-functions, lint-functions

feat: add image to TodoCard
  apps/firebase/storage.rules
  apps/frontend/src/app/home/page.tsx
  apps/frontend/src/components/elements/todo-card.tsx
  apps/frontend/src/hooks/todos.ts
Due: format-frontend

feat: add messaging-provider
  apps/firebase/functions/src/index.ts
  apps/firebase/functions/src/services/message-service.ts
  apps/firebase/functions/src/services/tasks.ts
  apps/firebase/functions/src/types/message.ts
  apps/firebase/storage.rules
  apps/frontend/src/app/home/page.tsx
  apps/frontend/src/app/messaging/layout.tsx
  apps/frontend/src/app/messaging/page.tsx
  apps/frontend/src/env.mjs
  apps/frontend/src/features/auth/providers/auth-provider.tsx
  apps/frontend/src/features/messaging/providers/messaging-provider.tsx
Due: format-frontend, format-functions, lint-functions

refactor: remove messaging test page
  apps/frontend/src/app/messaging/layout.tsx
  apps/frontend/src/app/messaging/page.tsx
Due: format-frontend

feat: add sendMessage
  apps/firebase/functions/package-lock.json
  apps/firebase/functions/package.json
  apps/firebase/functions/src/index.ts
  apps/firebase/functions/src/services/message-service.ts
  apps/firebase/functions/src/types/message.ts
  apps/firebase/package.json
  apps/frontend/.gitignore
  apps/frontend/package.json
  apps/frontend/public/firebase-messaging-sw.js
  apps/frontend/src/app/_components/auth-check.tsx
  apps/frontend/src/app/home/page.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/ui/toast.tsx
  apps/frontend/src/components/ui/toaster.tsx
  apps/frontend/src/components/ui/use-toast.ts
  apps/frontend/src/hooks/message.ts
  apps/frontend/src/hooks/speech-toast.tsx
  apps/frontend/sw-env-build.js
  package-lock.json
  package.json
Due: format-frontend, format-functions, lint-functions

build: upgrade storybook
  apps/frontend/.storybook/main.ts
  apps/frontend/.storybook/preview.ts
  apps/frontend/package.json
  package-lock.json
Due: format-frontend

refactor: todos args
  apps/firebase/functions/src/index.ts
  apps/firebase/functions/src/services/message-service.ts
  apps/firebase/functions/src/types/todo.ts
  apps/frontend/src/app/home/page.tsx
  apps/frontend/src/features/auth/providers/auth-provider.tsx
  apps/frontend/src/hooks/todos.ts
Due: format-frontend, format-functions, lint-functions

feat: add upsertToken
  apps/firebase/functions/src/index.ts
  apps/frontend/src/app/home/page.tsx
  apps/frontend/src/features/db/api/todo.ts
  apps/frontend/src/features/db/api/user.ts
  apps/frontend/src/features/db/hooks/todos.ts
  apps/frontend/src/features/messaging/hooks/message.ts
Due: format-frontend, format-functions, lint-functions

feat: add cloud tasks
  apps/firebase/functions/src/index.ts
  apps/frontend/src/app/home/page.tsx
Due: format-frontend, format-functions, lint-functions

build: update firebase-functions
  apps/firebase/functions/package.json
  apps/frontend/package.json
  package-lock.json
Due: format-frontend

feat: improve home page appearance
  apps/firebase/functions/package.json
  apps/frontend/package.json
  apps/frontend/src/app/home/layout.tsx
  apps/frontend/src/app/home/page.tsx
  apps/frontend/src/components/elements/todo-card.tsx
  apps/frontend/src/components/ui/accordion.tsx
  package-lock.json
Due: format-frontend

build: fix vulnerabilities
  package-lock.json
Due: none

feat: add setting scheduledAt and deleting todo
  apps/frontend/package.json
  apps/frontend/src/app/home/page.tsx
  apps/frontend/src/components/elements/date-picker.stories.tsx
  apps/frontend/src/components/elements/date-picker.tsx
  apps/frontend/src/components/elements/time-picker.tsx
  apps/frontend/src/components/elements/todo-card.tsx
  apps/frontend/src/components/ui/calendar.tsx
  apps/frontend/src/components/ui/popover.tsx
  apps/frontend/src/features/auth/providers/auth-provider.tsx
  apps/frontend/src/features/db/api/todo.ts
  package-lock.json
Due: format-frontend

build: add --audit-level=high
  .husky/_/commit-msg
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  lefthook.yml
  package-lock.json
Due: none

feat: add next-on-pages
  apps/frontend/next.config.mjs
  apps/frontend/package.json
  package-lock.json
Due: format-frontend

feat: add build command
  apps/frontend/package.json
  package.json
Due: format-frontend

feat: add auth v5 and rebuild scripts
  apps/firebase/functions/package.json
  apps/frontend/package.json
  apps/frontend/src/app/_components/social-sign-in.tsx
  apps/frontend/src/app/api/auth/[...nextauth]/route.ts
  apps/frontend/src/app/home/page.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/app/signout/page.tsx
  apps/frontend/src/auth.ts
  apps/frontend/src/components/elements/todo-card.tsx
  apps/frontend/src/env.mjs
  apps/frontend/src/features/auth/providers/auth-provider.tsx
  apps/frontend/src/middleware.ts
  apps/frontend/src/pages/api/auth/[...nextauth].ts
  package-lock.json
  package.json
Due: format-frontend

fix: remove unnecessary env values
  apps/frontend/src/env.mjs
Due: none

feat: add session log message
  apps/frontend/src/features/auth/providers/auth-provider.tsx
Due: format-frontend

fix: cloudflare:build
  apps/frontend/package.json
Due: format-frontend

feat: add signInWithCredential
  apps/frontend/src/auth.ts
  apps/frontend/src/features/auth/providers/auth-provider.tsx
  apps/frontend/src/features/messaging/providers/messaging-provider.tsx
Due: format-frontend

Path conditions:
  format-frontend: any of: *.{js,jsx,ts,tsx,md,mdx,html,css,scss,json,yml} and ^apps/frontend/
  format-functions: any of: *.{js,jsx,ts,tsx,md,mdx,html,css,scss,json,yml} and ^apps/firebase/functions/src/
  lint-functions: any of: *.{js,jsx,ts,tsx,md,mdx,html,css,scss,json,yml} and ^apps/firebase/functions/src/
